/* firacode-nerd-font-mono-reg */
@font-face {
    font-family: FiraCode Nerd Font Mono;
    font-style: normal;
    font-weight: 400;
    // src: local("FiraCode Nerd Font Mono Reg"), local("FiraCodeNFM-Reg"), url(fonts/firacode-nerd-font-mono-reg.woff2) format("woff2");
    // src: local("FiraCode Nerd Font Mono Reg"), local("FiraCodeNFM-Reg"), url("./firacode-nerd-font-mono-reg.woff2") format("woff2");
    src: 	local(FiraCodeNerdFontMono-Regular),
        url("fonts/firacode-nerd-font-mono/FiraCodeNerdFontMono-Regular.ttf"), format("truetype");
}

/* firacode-nerd-font-mono-bold */
@font-face {
    font-family: FiraCode Nerd Font Mono Bold;
    font-style: normal;
    font-weight: 700;
    // src: local("FiraCode Nerd Font Mono Bold"), local("FiraCodeNFM-Bold"), url(fonts/firacode-nerd-font-mono-bold.woff2) format("woff2");
    // src: local("FiraCode Nerd Font Mono Bold"), local("FiraCodeNFM-Bold"), url("./firacode-nerd-font-mono-bold.woff2") format("woff2");
    src: 	local(FiraCodeNerdFontMono-Bold),
        url("fonts/firacode-nerd-font-mono/FiraCodeNerdFontMono-Bold.ttf"), format("truetype");
}

