
<style>
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        background-color: #8b8b8b;
        margin: 1em;
        padding: 2em;

        background-color: #AAAAAA77;
        backdrop-filter: blur(10px);

        border-radius: 2em;
        border-style: solid;
        border-color: grey;
        border-width: 1px;

        /* Make footer meld into page bottom. */
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0;
    }
</style>

<footer>

<!--   <p></p> -->
<a href="https://gitlab.com/nexusalpha/tux-handbook" class="icon">
    <icon></icon>
</a>

</footer>
