
<!-- Header -->
<style>
    header {
        margin: 2em;
        padding: 5%;

        text-align: center;
    }

    headericon {
        font-size: 64pt;
        color: var(--text-color);
        font-family: "FiraCode Nerd Font Mono",monospace;
    }
</style>

<header>
    <headericon>
        {% if page.extra.icon %}{{ page.extra.icon }}
        {% elif section.extra.icon %}{{ section.extra.icon }}
        {% else %}{{ config.extra.icon }}
        {% endif %}
    </headericon>
    <h1>
        {% if page.title %}{{ page.title }}
        {% elif section.title == "Home" %}{{ config.title }}
        {% else %}{{ section.title }}
        {% endif %}
    </h1>
    <subheading>
        {% if page.description %}{{ page.description }}
        {% elif section.description %}{{ section.description }}
        {% else %}{{ config.description }}
        {% endif %}
    </subheading>
</header>

