<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<!--     <link rel="stylesheet" href="{{ "styles/main.css" }}" /> -->
    <link rel="stylesheet" href="{{ get_url(path='main.css') }}" />
    <link rel="icon shortcut" href="/tux.svg" type="image/x-icon" />
</head>
