
<style>
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        position: -webkit-sticky; /* Safari */
        position: sticky;
        margin: 1em;
        top: 1em;

        background-color: #AAAAAA77;
/*         background-color: #00000000; */
/*         opacity: 0.5; */
/*         webkit-backdrop-filter: blur(10px); */
        backdrop-filter: blur(10px);
/*         backdrop-filter: blur(0.75em); */
        border-radius: 2em;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
    }

    nav > a {
        margin: 1em;
    }
</style>

<nav>
    {% set root_section = get_section(path="_index.md") %}

    <a href="{{ root_section.permalink }}">{{ root_section.title }}</a>

    {% for subsection_path in root_section.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
    {% endfor %}
</nav>
