
<table_of_contents>
    <h2>Directory List</h2>
    <ul>
        <li>
            <a href="">.</a>
        </li>
        <li>
            <a href="..">..</a>
        </li>

        {% for subsection_path in section.subsections %}
            {% set subsection = get_section(path=subsection_path) %}
            <li>
                <a href="{{ subsection.permalink }}">{{ subsection.title }}/</a>
                <p><i>{{ subsection.description }}</i></p>
            </li>
        {% endfor %}

        {% for page in section.pages %}
            <li>
                <a href="{{ page.permalink }}">{{ page.title }}</a>
                <p><i>{{ page.description }}</i></p>
            </li>
        {% endfor %}
    </ul>
</table_of_contents>
